fastapi
uvicorn
python-multipart
python-dotenv

groq
supabase

langchain
langchain-community
langchain-core
langchain-text-splitters
langgraph

rank-bm25
sentence-transformers
PyMuPDF

numpy
pandas
scikit-learn
scipy

redis
